body {
  font-family: 'Roboto Mono', sans-serif;
}

#opening {
  position: absolute;
  background-color: #0F0F0F;
  color: white;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 1001;
  margin: 0 auto;
}

.opening-content {
  background-color: #0F0F0F;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#opening-content1 {
  width: 40%;
  margin-top: 21%;
  z-index: 1005;
}

.opening-body {
  text-align: center;
  font-weight: 100;
  font-style: italic;
  font-size: 13px;
}

#text1 {
  opacity: 0;
  margin-bottom: 20px;
}

#text2 {
  opacity: 0;
  margin-bottom: 50px;
}

#text3 {
  opacity: 0;
  margin-bottom: 20px;
}

#text4 {
  opacity: 0;
  margin-bottom: 50px;
}

#whatis-btn, #letskill-btn {
  opacity: 0;
  width: 40%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#opening-content2 {
  width: 45%;
  margin-top: 17%;
  z-index: 1004;
}

.opening-content strong {
  font-weight: 700;
  font-style: italic;
}

.links {
  color: white;
}

.titles {
  font-style: italic;
}

#about-link, #help-link {
  position: absolute;
  top: 40px;
  z-index: 1000;
  color: white;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  display: block;
  height: 20px;
}

#about-link {
  left: 5%;
  width: 48px;
}

#help-link {
  right: 5%;
  width: 38px;
}

#about-link:after, #help-link:after {
  display:block;
  content: '';
  border-bottom: solid 1px #fff;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
  transform-origin: 0% 50%;
}

#about-link:hover:after, #help-link:hover:after ,#about-link:active:after, #help-link:active:after {
  transform: scaleX(0.75);
}

#about-modal, #help-modal {
  position: absolute;
  background-color: #0F0F0F;
  color: white;
  width: 100%;
  height: 0%;
  bottom: 0;
  z-index: 999;
  margin: 0 auto;
}

.section {
  display: inline-block;
  padding-bottom: 20px;
}

img#quote-img {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 4%;
}

#about-text {
  width: 50%;
}

#help-text {
  width: 40%;
}

#about-text, #help-text {
  height: 65%;
  top: 20%;
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 13px;
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#quote {
  text-align: center;
  font-weight: 100;
  font-style: italic;
}

#quote span {
  font-weight: 600;
}

#help-advice {
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 60px;
  font-weight: 600;
  font-size: 12px;
  display: block;
  width: 75%;
  text-align: center;
}

.heading {
  width: 15%;
  float: left;
  text-decoration: underline;
  font-weight: 600;
}

.body {
  width: 85%;
  float: right;
  font-weight: 100;
}

#buybook-btn, .ok-btn {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 12%;
  top: 25%;
}

.about-buttons {
  position: relative;
  top: 25%;
}

.about-buttons .ok-btn {
  float: left;
  margin-left: 35%;
}

.about-buttons #buybook-btn {
  float: right;
  margin-right: 35%;
}

#identify-ok-btn {
  width: 30%;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  z-index: 1000;
}

/* button hover animation taken from https://codepen.io/davidicus/pen/emgQKJ */
.slick-button {
  border: 2px solid white;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  padding: 6px 0 6px 0;
  overflow: hidden;
  cursor: pointer;
}

.slick-button a {
  text-decoration: none;
  color: white;
  z-index: 20;
  display: block;
  width: 100%;
}

.slick-button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1003;
}

.slick-button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

img#logo {
  width: 300px;
  position: absolute;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 1002;
  opacity: 0;
}

button.a-enter-vr-button {
  top: initial;
/*  top: -840%;
  left: 13%;*/
  z-index: 3;
}

.panel {
  width: 200px;
  position: absolute;
  bottom: 3%;
  z-index: 2;
}

#desc-panel {
  left: 5%;
}

#howto-panel {
  right: 5%;
}

.panel .inside-panel .title {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(147,26,31,0.7);
  border: 1px solid #AB1D38;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: normal;
  font-style: italic;
  color: white;
  z-index: 1000;
  text-align: center;
  padding: 11px 0 11px 2px;
  width: 100%;
  position: absolute;
}

.panel-img {
  width: 100%;
  opacity: 0.4;
  visibility: hidden;
}

.panel .inside-panel .body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 9.9px;
  font-weight: 300;
  color: white;
  z-index: 1000;
  padding: 9px 11px 9px 11px;
  width: 200px;
  margin-top: 35px;
  line-height: 130%;
  position: absolute;
}

.emit-button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(200,32,46,1);
  border: 1px solid #ED1E29;
  font-size: 9px;
  font-weight: 600;
  color: white;
  z-index: 2;
  text-align: center;
  letter-spacing: 5px;
  padding: 5px 0 5px 3px;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 14px;
  cursor: pointer;
  visibility: hidden;
}

/* button hover effect taken from https://codepen.io/davidicus/pen/emgQKJ */
.emit-button {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.9);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.emit-button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 10px;
  text-shadow: 1px 1px 2px #427388;
}

img#progress-bar, #progress-mark, #svg-line {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 45.5px;
  z-index: 2;
}

img#progress-bar {
  width: 41%;
}

.labels {
  font-size: 10px;
  font-weight: 300;
  color: white;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 2;
  text-align: center;
  letter-spacing: 1px;
}

#amateur.labels {
  padding-right: 40.3%;
}

#professional.labels {
  padding-left: 40.9%;
}

#progress-mark {
  width: 60.9%;
  bottom: 43px;
  margin-right: 39%;
  text-align: center;
}

p#progress-label {
  font-weight: 500;
  font-size: 15px;
  color: white;
  text-align: center;
  margin: 0px;
  margin-left: 5px;
}

svg.radar {
  position: absolute;
}

/* radar animation adapted from http://jsfiddle.net/Fy8vD/ */
.radar {
    background: red;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    position: absolute;
    bottom: -2px;
    z-index: -1;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0.0;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
}

#radar-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 0.5s;
}

#radar-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 1s;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 0.5;}
    100% {-webkit-transform: scale(2, 2); opacity: 0.0;}
}

#svg-line {
  bottom: 46.5px;
}

#progress-dot {
  z-index: 1000;
}

/* Modal code taken from W3Schools */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 25%; /* Location of the box */
    left: 0;
    bottom: -50%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #A60000;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatebottom {
    from {bottom:-500px; opacity:0}
    to {bottom:0; opacity:1}
}

@keyframes animatebottom {
    from {bottom:-500px; opacity:0}
    to {bottom:0; opacity:1}
}

.modal-header {
  padding: 2px 16px;
  background-color: #A60000;
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.modal-body {
  padding: 16px 16px;
  background-color: #000;
}

.modal-body textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #000;
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
  width: 100%;
}

.modal-footer {
    padding: 2px 5px;
    background-color: #000;
    color: white;
}
