body {
  font-family: 'Roboto Mono', sans-serif;
}

#about-link {
  position: absolute;
  left: 5%;
  top: 40px;
  z-index: 2;
  color: white;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  display: block;
  width: 50px;
  height: 20px;
}

#about-link:after {
  display:block;
  content: '';
  border-bottom: solid 1px #fff;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
  transform-origin: 0% 50%;
}

#about-link:hover:after {
  transform: scaleX(0.75);
}

img#logo {
  width: 300px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 15px;
  z-index: 2;
}

button.a-enter-vr-button {
  bottom: initial;
  top: -840%;
  right: 3.5%;
}

.panel {
  width: 200px;
  position: absolute;
  bottom: 3%;
  z-index: 2;
}

#desc-panel {
  left: 5%;
}

#howto-panel {
  right: 5%;
}

.panel .inside-panel .title {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(147,26,31,0.7);
  border: 1px solid #AB1D38;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: normal;
  font-style: italic;
  color: white;
  z-index: 1000;
  text-align: center;
  padding: 11px 0 11px 2px;
  width: 100%;
  position: absolute;
}

.panel-img {
  width: 100%;
  opacity: 0.4;
  visibility: hidden;
}

.panel .inside-panel .body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 9.9px;
  font-weight: 300;
  color: white;
  z-index: 1000;
  padding: 9px 11px 9px 11px;
  width: 200px;
  margin-top: 35px;
  line-height: 130%;
  position: absolute;
}

#howto-panel .inside-panel #conquer-btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(200,32,46,1);
  border: 1px solid #ED1E29;
  font-size: 9px;
  font-weight: 600;
  color: white;
  z-index: 2;
  text-align: center;
  letter-spacing: 5px;
  padding: 5px 0 5px 3px;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 14px;
  cursor: pointer;
  visibility: hidden;
}

/*#howto-panel .inside-panel #conquer-btn:before {
  position:absolute;
  content:'';
  top:-10px;
  right:-10px;
  left:-10px;
  bottom:-10px;
}*/

/* button hover effect taken from https://codepen.io/davidicus/pen/emgQKJ */
#howto-panel .inside-panel #conquer-btn {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.9);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#howto-panel .inside-panel #btn-area:hover #conquer-btn {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 10px;
  text-shadow: 1px 1px 2px #427388;
}

img#progress-bar, #progress-mark, #svg-line {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 45.5px;
  z-index: 2;
}

img#progress-bar {
  width: 41%;
}

.labels {
  font-size: 10px;
  font-weight: 300;
  color: white;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 2;
  text-align: center;
  letter-spacing: 1px;
}

#amateur.labels {
  padding-right: 40.3%;
}

#professional.labels {
  padding-left: 40.9%;
}

#progress-mark {
  width: 60.9%;
  bottom: 43px;
  /*margin-right: 0%;*/
  margin-right: 39%;
  /*margin-right: 19.5%;*/
  text-align: center;
}

p#progress-label {
  font-weight: 500;
  font-size: 15px;
  color: white;
  text-align: center;
  margin: 0px;
  margin-left: 5px;
}

svg.radar {
  position: absolute;
}

/* radar animation adapted from http://jsfiddle.net/Fy8vD/ */
.radar {
    background: red;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    position: absolute;
    bottom: -2px;
    z-index: -1;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0.0;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
}

#radar-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 0.5s;
}

#radar-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 1s;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 0.5;}
    100% {-webkit-transform: scale(2, 2); opacity: 0.0;}
}

#svg-line {
  bottom: 46.5px;
}

#progress-dot {
  z-index: 1000;
}
